@font-face {
	font-family: "custom-icon";
	/* Project id 4333344 */
	src: url('/static/iconfont.ttf') format('truetype');
}

.custom-icon {
	font-family: "custom-icon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mei-xuanze:before {
	content: "\e6c1";
}

.icon-xuanze:before {
	content: "\e619";
}

.icon-rili:before {
	content: "\e60a";
}

.icon-chaxun:before {
	content: "\ec4c";
}

.icon-folder:before {
	content: "\eac6";
}

.icon-saomiao:before {
	content: "\e657";
}

.icon-printer:before {
	content: "\e9c3";
}

.icon-camera:before {
	content: "\e9f3";
}

.icon-shanchu:before {
	content: "\e600";
}

.icon-chenggong:before {
	content: "\e6a0";
}

.icon-shibai:before {
	content: "\e6b8";
}

.icon-file:before {
	content: "\eac5";
}

.icon-lanya1:before {
	content: "\ec4a";
}

.icon-lanya:before {
	content: "\e6ca";
}